In [66]:
import pandas as pd

In [67]:
teams = pd.read_csv("../data/teams.csv")

In [68]:
teams

,team,country,year,events,athletes,age,height,weight,medals,prev_medals,prev_3_medals
0,AFG,Afghanistan,1964,8,8,22.0,161.0,64.2,0,0.0,0.0
1,AFG,Afghanistan,1968,5,5,23.2,170.2,70.0,0,0.0,0.0
2,AFG,Afghanistan,1972,8,8,29.0,168.3,63.8,0,0.0,0.0
3,AFG,Afghanistan,1980,11,11,23.6,168.4,63.2,0,0.0,0.0
4,AFG,Afghanistan,2004,5,5,18.6,170.8,64.8,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2139,ZIM,Zimbabwe,2000,19,26,25.0,179.0,71.1,0,0.0,0.0
2140,ZIM,Zimbabwe,2004,11,14,25.1,177.8,70.5,3,0.0,0.0
2141,ZIM,Zimbabwe,2008,15,16,26.1,171.9,63.7,4,3.0,1.0
2142,ZIM,Zimbabwe,2012,8,9,27.3,174.4,65.2,0,4.0,2.3
2143,ZIM,Zimbabwe,2016,13,31,27.5,167.8,62.2,0,0.0,2.3

In [69]:
teams = teams[["team", "country", "year", "athletes", "age", "prev_medals", "medals"]]

In [70]:
teams

     team      country  year  athletes   age  prev_medals  medals
0     AFG  Afghanistan  1964         8  22.0          0.0       0
1     AFG  Afghanistan  1968         5  23.2          0.0       0
2     AFG  Afghanistan  1972         8  29.0          0.0       0
3     AFG  Afghanistan  1980        11  23.6          0.0       0
4     AFG  Afghanistan  2004         5  18.6          0.0       0
...   ...          ...   ...       ...   ...          ...     ...
2139  ZIM     Zimbabwe  2000        26  25.0          0.0       0
2140  ZIM     Zimbabwe  2004        14  25.1          0.0       3
2141  ZIM     Zimbabwe  2008        16  26.1          3.0       4
2142  ZIM     Zimbabwe  2012         9  27.3          4.0       0
2143  ZIM     Zimbabwe  2016        31  27.5          0.0       0

[2144 rows x 7 columns]

In [71]:
# athletes and prev_medals impact medals
teams.corr()["medals"]

year          -0.021603
athletes       0.840817
age            0.025096
prev_medals    0.920048
medals         1.000000
Name: medals, dtype: float64

In [72]:
import seaborn as sns

In [73]:
sns.lmplot(x="athletes", y="medals", data=teams, fit_reg=True, ci=None)

In [74]:
sns.lmplot(x="age", y="medals", data=teams, fit_reg=True, ci=None)

In [75]:
teams.plot.hist(y="medals")

In [76]:
teams[teams.isnull().any(axis=1)]

,team,country,year,athletes,age,prev_medals,medals
19,ALB,Albania,1992,9,25.3,NaN,0
26,ALG,Algeria,1964,7,26.0,NaN,0
39,AND,Andorra,1976,3,28.3,NaN,0
50,ANG,Angola,1980,17,17.4,NaN,0
59,ANT,Antigua and Barbuda,1976,17,23.2,NaN,0
...,...,...,...,...,...,...,...
2092,VIN,Saint Vincent and the Grenadines,1988,6,20.5,NaN,0
2103,YAR,North Yemen,1984,3,27.7,NaN,0
2105,YEM,Yemen,1992,8,19.6,NaN,0
2112,YMD,South Yemen,1988,5,23.6,NaN,0
2120,ZAM,Zambia,1964,15,21.7,NaN,0

In [77]:
# dropping rows with missing values
teams=teams.dropna()

In [78]:
teams.shape

(2014, 7)

In [79]:
train = teams[teams["year"] < 2012].copy()
test = teams[teams["year"] >= 2012].copy()

In [80]:
train.shape

(1609, 7)

In [81]:
test.shape

(405, 7)

In [82]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()

In [83]:
predictors = ["athletes", "prev_medals"]
target = "medals"

In [84]:
reg.fit(train[predictors], train["medals"])

LinearRegression()

In [85]:
predictions = reg.predict(test[predictors])

In [86]:
predictions

array([-9.61221245e-01, -1.17633261e+00, -1.42503158e+00, -1.71184673e+00,
        2.15562926e+00,  3.91463636e+00, -1.71184673e+00, -1.85525431e+00,
        3.67563128e-01, -2.77770967e-01, -1.85525431e+00, -1.49673537e+00,
        4.67519911e+01,  2.87550937e+01,  4.58450091e+00,  2.54773581e+00,
       -1.85525431e+00, -1.64014295e+00, -1.85525431e+00, -1.85525431e+00,
        1.46556876e+02,  1.20571799e+02,  6.56314795e+00,  3.95275254e+00,
        7.34283247e+00,  1.03117468e+01,  5.19171882e+00,  3.58517645e+00,
       -1.64014295e+00, -1.64014295e+00, -1.56843916e+00, -1.20992022e+00,
       -1.71184673e+00, -1.42503158e+00,  1.17929959e+01,  1.00049298e+01,
       -1.78355052e+00, -1.71184673e+00, -1.56843916e+00, -1.56843916e+00,
       -1.99866189e+00, -1.99866189e+00, -1.56843916e+00, -1.35332779e+00,
       -1.92695810e+00, -1.92695810e+00,  3.28912706e+01,  2.53042547e+01,
       -1.78355052e+00, -1.28162400e+00, -1.85525431e+00, -3.87590939e-01,
        7.83480779e+01,  8.39481430e+01, -1.13821643e+00,  9.74781040e-01,
       -1.92695810e+00, -1.92695810e+00,  6.98884211e+00,  3.51800124e+00,
       -1.78355052e+00, -1.78355052e+00, -1.71184673e+00, -1.71184673e+00,
       -1.71184673e+00, -1.71184673e+00,  4.95129637e+01,  6.81823667e+01,
       -1.64014295e+00, -1.78355052e+00, -1.64014295e+00, -1.42503158e+00,
       -1.99866189e+00, -1.99866189e+00,  1.76352271e+00,  1.22800859e+00,
        1.70319135e+02,  1.27466307e+02, -1.42503158e+00, -1.06651264e+00,
        9.03077251e-01, -5.64586121e-01, -1.85525431e+00, -1.85525431e+00,
       -1.49673537e+00, -1.49673537e+00,  7.96363611e+00,  1.51204292e+01,
       -1.92695810e+00, -1.85525431e+00, -1.92695810e+00, -1.78355052e+00,
       -1.35332779e+00, -1.28162400e+00,  1.00721050e+01,  3.07982750e+01,
        4.15983755e+01,  1.86203291e+01, -1.20992022e+00,  1.14335580e-01,
        1.45132113e+01,  1.80466988e+01,  2.28036793e+01,  2.01215801e+01,
       -1.85525431e+00, -1.56843916e+00, -1.99866189e+00, -1.99866189e+00,
        1.94051789e+00,  1.51029516e+00,  1.18989240e+00,  7.26082069e-01,
        8.07345608e+00,  9.18260052e+00, -1.28162400e+00, -1.28162400e+00,
       -1.35332779e+00, -1.42503158e+00,  7.47092990e+01,  7.11758115e+01,
        2.69114338e+00,  2.87266714e+00,  5.55023776e+00,  5.83705291e+00,
       -1.49673537e+00,  1.65823132e+00,  6.55861938e+00,  6.41521180e+00,
        8.62019070e+01,  9.61215602e+01, -1.71184673e+00, -1.78355052e+00,
       -6.36289909e-01, -9.61221245e-01, -1.99866189e+00,  1.07703986e+02,
        1.26711153e+02, -1.85525431e+00, -1.78355052e+00,  4.94301985e+00,
        6.33897943e+00, -1.99866189e+00, -2.07036568e+00,  1.08738786e+02,
        1.06849957e+02, -1.64014295e+00, -1.06651264e+00,  1.13582446e+01,
        7.56700099e+00, -1.56843916e+00, -9.61221245e-01, -4.21178544e-01,
        4.01150733e-01, -1.85525431e+00, -1.78355052e+00, -1.56843916e+00,
       -1.78355052e+00, -1.71184673e+00, -1.64014295e+00, -1.78355052e+00,
       -1.42503158e+00,  1.80163889e+00,  1.97863408e+00, -3.49474756e-01,
       -4.92882332e-01,  3.25372802e+01,  3.20017661e+01,  4.68979230e+00,
        1.58199895e+00,  6.92166689e+00,  1.16831760e+01, -1.85525431e+00,
       -1.49673537e+00,  3.44629745e+00,  1.16695902e+01,  5.55929492e+00,
        8.27951030e+00, -1.56843916e+00, -7.07993697e-01,  1.09480238e+01,
       -1.13821643e+00,  2.62396817e+00,  2.08845405e+00, -1.49673537e+00,
       -1.64014295e+00,  5.67750482e+01,  7.75102753e+01, -1.99866189e+00,
       -1.85525431e+00,  1.28123223e+01,  2.21447595e+01, -1.49673537e+00,
       -1.56843916e+00,  6.47496420e+01,  9.21733233e+01,  1.70809620e+01,
        1.64356279e+01,  1.27742061e+01,  1.18511140e+01,  4.34738339e-01,
       -7.79697486e-01, -1.92695810e+00, -1.92695810e+00,  7.87783006e+01,
        6.25041817e+01, -4.92882332e-01,  1.64917416e+00, -1.28162400e+00,
       -1.92695810e+00, -1.78355052e+00,  3.69499642e+00,  2.47603202e+00,
       -1.85525431e+00, -1.64014295e+00, -1.92695810e+00, -1.85525431e+00,
       -1.78355052e+00, -1.85525431e+00, -1.49673537e+00, -1.42503158e+00,
       -1.49673537e+00, -1.85525431e+00, -1.92695810e+00,  6.77373074e+00,
        7.34736105e+00, -1.35332779e+00, -1.06651264e+00, -1.64014295e+00,
       -1.71184673e+00,  4.16333533e+00,  2.33715302e+00,  1.33329998e+00,
        2.37074062e+00, -1.92695810e+00, -1.78355052e+00,  4.26317914e-02,
        1.00836865e+00, -1.78355052e+00, -1.85525431e+00,  9.39318330e+00,
        2.58397688e+01,  3.15495372e+00,  4.90943224e+00, -1.85525431e+00,
       -1.78355052e+00, -1.85525431e+00, -1.71184673e+00, -1.71184673e+00,
       -1.71184673e+00, -1.78355052e+00, -1.56843916e+00,  2.95859339e-01,
        1.08763200e+01, -1.71184673e+00, -1.56843916e+00, -1.71184673e+00,
       -1.56843916e+00, -6.02702304e-01, -1.35332779e+00, -1.99866189e+00,
       -1.99866189e+00, -1.71184673e+00, -1.56843916e+00, -1.49673537e+00,
       -1.35332779e+00, -1.71184673e+00, -1.78355052e+00,  5.95643264e+01,
        7.32416356e+01, -1.78355052e+00, -1.64014295e+00,  1.92811365e+01,
        3.37912224e+00, -1.71184673e+00, -1.71184673e+00,  1.93192527e+01,
        1.61397555e+01, -1.99866189e+00, -1.99866189e+00,  2.37448857e+01,
        3.47600976e+01, -1.92695810e+00, -1.85525431e+00, -6.36289909e-01,
       -1.64014295e+00, -8.17813669e-01, -1.13821643e+00, -1.42503158e+00,
       -1.35332779e+00, -9.94808851e-01,  2.95859339e-01, -1.35332779e+00,
       -1.20992022e+00, -1.78355052e+00, -1.71184673e+00, -1.78355052e+00,
       -1.71184673e+00, -1.56843916e+00, -1.56843916e+00,  3.12266101e+01,
        2.75878312e+01,  6.38615277e+00,  6.95978308e+00,  6.44879940e+00,
        5.08642743e+00, -1.34363391e-01,  2.29903684e+00, -1.13821643e+00,
        2.37074062e+00,  2.54857785e+01,  1.85440967e+01,  9.00560533e+00,
        1.57276471e+01,  1.43812130e+02,  1.32057237e+02, -1.64014295e+00,
       -1.64014295e+00, -1.49673537e+00, -1.49673537e+00,  1.52451763e-01,
       -5.64586121e-01, -1.71184673e+00, -1.42503158e+00,  2.69114338e+00,
        3.15495372e+00, -1.64014295e+00, -1.49673537e+00, -1.99866189e+00,
       -1.85525431e+00,  7.20395347e+00,  6.63032316e+00, -1.85525431e+00,
       -1.85525431e+00, -1.85525431e+00, -1.92695810e+00,  1.87256205e+01,
        1.89743195e+01, -1.56843916e+00, -1.42503158e+00, -1.99866189e+00,
       -1.92695810e+00, -9.61221245e-01, -1.71184673e+00,  1.51494882e+01,
        1.17594083e+01, -1.78355052e+00, -1.71184673e+00,  1.00249317e+01,
        6.12839665e+00,  1.51585454e+01,  2.77085959e+01, -1.92695810e+00,
       -1.99866189e+00, -1.42503158e+00, -1.64014295e+00, -1.71184673e+00,
       -1.64014295e+00, -1.92695810e+00, -1.64014295e+00,  3.94369539e+00,
        4.26862673e+00,  5.06442127e-01, -8.89517457e-01, -1.42503158e+00,
       -1.49673537e+00, -1.99866189e+00, -1.92695810e+00, -9.61221245e-01,
       -1.78355052e+00,  4.80414085e+00,  4.16333533e+00,  5.08642743e+00,
        8.44744832e+00,  4.84678561e+00,  4.77055324e+00,  1.16450598e+01,
        1.01438088e+01, -1.92695810e+00, -2.07036568e+00, -2.77770967e-01,
       -1.28162400e+00, -9.94808851e-01,  2.57743156e-01,  4.29252723e+01,
        3.68776237e+01, -2.06067179e-01, -9.23105062e-01,  2.85210121e+02,
        2.35568076e+02,  6.37709562e+00,  5.84611007e+00, -1.78355052e+00,
       -1.85525431e+00,  4.70337803e+00,  6.13745380e+00,  3.29446945e-01,
       -1.34363391e-01, -1.92695810e+00, -1.85525431e+00, -1.85525431e+00,
       -1.92695810e+00, -1.64014295e+00, -1.64014295e+00,  1.50576659e+00,
        8.07479743e-02])

In [89]:
test["predictions"] = predictions

In [90]:
test.loc[test["predictions"] < 0, "predictions"] = 0

In [92]:
test["predictions"] = test["predictions"].round()

In [93]:
test

     team      country  year  athletes   age  prev_medals  medals  predictions
6     AFG  Afghanistan  2012         6  24.8          1.0       1          0.0
7     AFG  Afghanistan  2016         3  24.7          1.0       0          0.0
24    ALB      Albania  2012        10  25.7          0.0       0          0.0
25    ALB      Albania  2016         6  23.7          0.0       0          0.0
37    ALG      Algeria  2012        39  24.8          2.0       1          2.0
...   ...          ...   ...       ...   ...          ...     ...          ...
2111  YEM        Yemen  2016         3  19.3          0.0       0          0.0
2131  ZAM       Zambia  2012         7  22.6          0.0       0          0.0
2132  ZAM       Zambia  2016         7  24.1          0.0       0          0.0
2142  ZIM     Zimbabwe  2012         9  27.3          4.0       0          2.0
2143  ZIM     Zimbabwe  2016        31  27.5          0.0       0          0.0

[405 rows x 8 columns]

In [94]:
from sklearn.metrics import mean_absolute_error

error = mean_absolute_error(test["medals"], test["predictions"])

In [95]:
error

3.2987654320987656

In [97]:
teams.describe()["medals"]

count    2014.000000
mean       10.990070
std        33.627528
min         0.000000
25%         0.000000
50%         0.000000
75%         5.000000
max       442.000000
Name: medals, dtype: float64

In [100]:
test[test["team"] == "USA"]

,team,country,year,athletes,age,prev_medals,medals,predictions
2053,USA,United States,2012,689,26.7,317.0,248,285.0
2054,USA,United States,2016,719,26.4,248.0,264,236.0

In [103]:
test[test["country"] == "Morocco"]

     team  country  year  athletes   age  prev_medals  medals  predictions
1234  MAR  Morocco  2012        67  25.7          2.0       1          4.0
1235  MAR  Morocco  2016        52  26.5          1.0       1          2.0

In [104]:
errors = (test["medals"] - test["predictions"]).abs()

In [105]:
errors

6       1.0
7       0.0
24      0.0
25      0.0
37      1.0
       ...
2111    0.0
2131    0.0
2132    0.0
2142    2.0
2143    0.0
Length: 405, dtype: float64

In [106]:
error_by_team = errors.groupby(test["team"]).mean()

In [107]:
error_by_team

team
AFG    0.5
ALB    0.0
ALG    1.5
AND    0.0
ANG    0.0
      ...
VIE    1.0
VIN    0.0
YEM    0.0
ZAM    0.0
ZIM    1.0
Length: 204, dtype: float64

In [108]:
medals_by_team = test["medals"].groupby(test["team"]).mean()

In [109]:
error_ratio = error_by_team / medals_by_team

In [110]:
error_ratio

team
AFG    1.0
ALB    NaN
ALG    1.0
AND    NaN
ANG    NaN
      ...
VIE    1.0
VIN    NaN
YEM    NaN
ZAM    NaN
ZIM    inf
Length: 204, dtype: float64

In [113]:
error_ratio[~pd.isnull(error_ratio)]

team
AFG    1.000000
ALG    1.000000
ARG    0.853659
ARM    0.428571
AUS    0.367347
         ...
USA    0.126953
UZB    0.625000
VEN    1.750000
VIE    1.000000
ZIM         inf
Length: 102, dtype: float64

In [114]:
import numpy as np

In [116]:
error_ratio = error_ratio[np.isfinite(error_ratio)]

In [118]:
error_ratio

team
AFG    1.000000
ALG    1.000000
ARG    0.853659
ARM    0.428571
AUS    0.367347
         ...
UKR    0.951220
USA    0.126953
UZB    0.625000
VEN    1.750000
VIE    1.000000
Length: 97, dtype: float64